* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: rgb(32, 33, 36);
    background-color: rgb(247, 243, 239);
    font-family: Merriweather, serif;
    margin: 0px;
    text-decoration: none;
}

#logo {
    width: 100px;
    height: 100px;
    background: url(../images/icons/logo_large.svg) no-repeat;
    margin: 10px 10px 10px 0px;
}

.navbar div a h1 {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-brand h1 {
    color: rgb(0, 66, 77);
    font-size: 2em;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#toggle-icon {
    width: 32px;
    height: 32px;
    background: url(../images/icons/list.svg) 0% 0% / 32px no-repeat;
}

button:focus {
    outline: 0px;
}

.navbar-toggler {
    background-color: transparent;
    border-width: 0px;
}

.navbar-toggler:visited, .navbar-toggler:active, .navbar-toggler:focus {
    box-shadow: none;
}

#nav-list a {
    color: rgb(32, 33, 36);
}

.navbar a:link, .navbar a:active, .navbar a:hover, .navbar a:focus {
    text-decoration: none;
}

.navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

#nav-list li a svg {
    background-size: 32px;
    width: 32px;
    height: 32px;
}

#gallery-icon {
    background: url(../images/icons/grid.svg) no-repeat;
}

#blog-icon {
    background: url(../images/icons/blog.svg) no-repeat;
}

#contact-icon {
    background: url(../images/icons/contact.svg) no-repeat;
}

#about-icon {
    background: url(../images/icons/about.svg) no-repeat;
}

#search-icon {
    background: url(../images/icons/search.svg) no-repeat;
}

#lang-icon {
    background: url(../images/icons/globe.svg) no-repeat;
}

#dark-mode-on-icon {
    background: url(../images/icons/toggle2-on.svg) no-repeat;
}



@media (max-width: 1199px) {
	#collapsable-nav a svg {
    	margin-right: 15px;
	}
}


.row {
    display: flex;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card-footer {
    background-color: rgb(247, 243, 239);
}

img, svg {
    vertical-align: middle;
}

#homepage-tile-1, #homepage-tile-2, #homepage-tile-3 {
    height: 250px;
    width: 100%;
    margin-bottom: 24px;
    position: relative;
    padding: 0px;
}

#homepage-tile-1 img, #homepage-tile-2 img, #homepage-tile-3 img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    overflow: hidden;
}

#homepage-tile-1 span, #homepage-tile-2 span, #homepage-tile-3 span {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 66, 77, 0.6);
    color: rgb(247, 243, 239);
    text-decoration: none;
}

footer #first-section, footer #second-section, footer #third-section {
    margin-top: 24px;
    text-align: center;
}

footer #first-section a:link, footer #second-section a:link, footer #third-section a:link {
    font-size: 0.8em;
    color: rgb(32, 33, 36);
    text-decoration: none;
}




#nav-list {
    margin-top: 10px;
}
.container .jumbotron {
    margin-bottom: 24px;
}

@media (min-width: 1200px) {
	.container .jumbotron {
		height: 420px;
		background: url(../images/jumbotron_1200.jpg) no-repeat;
	}

	.navbar-expand-xl {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-xl .navbar-nav {
		flex-direction: row;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.container .jumbotron {
		height: 347px;
		background: url(../images/jumbotron_992.jpg) no-repeat;
	}
}

@media (max-width: 767px) {
	.container .jumbotron {
		height: 268px;
		background: url(../images/jumbotron_768.jpg) no-repeat;
	}
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 1rem;
}

ol, ul {
    padding-left: 2rem;
}

#header-nav {
    border-radius: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
@media (min-width: 1200px){
	
}

#copyright {
    text-align: center;
    font-size: 0.6em;
    margin-top: 24px;
    margin-bottom: 24px;
}